body{
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 0 200px;
    
}

.text-primary{
    color: #FD6E0A;
}


.nav-title{

    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav > ul{
    display: flex;
}



nav li{
    margin-right: 50px;
    list-style: none;
    border: 5px 5px;
    padding: 5px 5px;
}

nav a{

    text-decoration: none;
    color: #474747;

}

.btn-primary{
    border-radius: 10px;
    background: #FD6E0A;
    border: 0;
    color: white;

}